<template>
    <div>
        <div class="container btn-container">
            <div class="row">
                <div class="col-sm-1 offset-10">
                    <button data-toggle="modal" href="#createModal" class="btn btn-primary">
                        Create Publication</button>
                </div>
            </div>
        </div>
        <div class="modal fade"
            id="createModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Publication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <create-publication-form ref="childComponent"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                        @click="submitPublication">Create Publication</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import CreatePublicationForm from '@/components/CreatePublicationForm';
import swal from 'sweetalert';

export default {
  name: 'CreatePublication',
  components: { CreatePublicationForm },
  methods: {
    retrieveData() {
      this.$refs.childComponent.savePublication();
    },
    submitPublication() {
      this.retrieveData();
      swal({
        icon: 'success',
        className: 'sweet-alert',
        title: 'Success',
        text: 'You succesfully added a new publication. Would you like to edit the Scope and Sequence at this time?',
        buttons: {
          cancel: {
            text: 'Go back to Publications',
            value: null,
            visible: true,
            className: '',
            closeModal: true,
          },
          confirm: {
            text: 'Edit Scope and Sequence',
            value: true,
            visible: true,
            className: '',
            closeModal: true,
          },
        },
      })
        .then((value) => {
          if (value) {
            window.location.href = 'http://www.studiesweekly.com';
          }
        });
    },
  },
};
</script>
<style>
.btn-container{
    padding: 1em;
}

.modal-dialog{
    max-width: 800px;
}

.sweet-alert{
    width: 485px;
}
</style>

