<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" v-model="title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="subject">Subject</label>
                    <select id="subject" class="form-control" v-model="selectedSubject">
                        <option v-for="subject in subjects" :key="subject">{{ subject }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="school_year">School Year</label>
                    <select id="school_year" class="form-control" v-model="selectedSchoolYear">
                        <option v-for="school_year in school_years" :key="school_year">
                            {{ school_year }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="state">State</label>
                    <select id="state" class="form-control" v-model="selectedState">
                        <option v-for="state in states" :key="state">{{ state }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="grade">Grades</label>
                    <select id="grade" class="form-control" v-model="selectedGrade">
                        <option v-for="grade in grades" :key="grade">
                            {{ grade }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="language">Language</label>
                    <select id="language" class="form-control" v-model="selectedLanguage">
                        <option v-for="language in languages"
                        :key="language">{{ language }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="format">Format</label>
                    <select id="format" class="form-control" v-model="selectedFormat">
                        <option disabled value=''>Select Format</option>
                        <option v-for="format in formats" :key="format">
                            {{ format }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="issn">ISSN <span class="not-required">(not required)</span>
                        </label>
                        <input type="text" id="issn" class="form-control" v-model="issn">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="isbn">ISBN <span class="not-required">(not required)</span>
                        </label>
                        <input type="text" id="isbn" class="form-control" v-model="isbn">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sku">SKU</label>
                        <input type="text" id="sku" class="form-control" :value="generatedSku">
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
import { eventBus } from '../main';

export default{
  name: 'CreatePublicationForm',
  data() {
    return {
      title: '',
      sku: '',
      subjects: ['Social Studies', 'Science', 'Health'],
      school_years: ['2018-2019', '2019-2020', '2020-2021'],
      languages: ['English', 'Spanish'],
      formats: ['K-2', '3-6'],
      issn: '',
      isbn: '',
      states: ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI',
        'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT',
        'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
        'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'National'],
      grades: ['K', 1, 2, 3, 4, 5, 6],
      selectedSubject: '',
      selectedSchoolYear: '',
      selectedLanguage: 'English',
      selectedFormat: '',
      selectedState: '',
      selectedGrade: '',
    };
  },
  methods: {
    savePublication() {
      const newPublication = {
        title: this.title,
        state_grade: this.selectedState + this.selectedGrade,
        sku: this.generatedSku,
        school_year: this.selectedSchoolYear,
        status: 'new',
      };
      eventBus.$emit('newPublication', newPublication);
    },
  },
  computed: {
    generatedSku() {
      return this.selectedState + this.selectedGrade + this.selectedSchoolYear.substr(0, 4);
    },
  },
};
</script>
<style>
select{
 margin-bottom: 1em;
}

label > .not-required{
    color: #ccc;
}
</style>

