<template>
    <div>
       <create-publication />
       <publication-list />
    </div>
</template>
<script>
import CreatePublication from '@/components/CreatePublication';
import PublicationList from '@/components/PublicationList';

export default {
  name: 'Editorial',
  components: { CreatePublication, PublicationList },
};
</script>
<style>
</style>
