<template>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control" placeholder="Search" v-model="searchTerm">
        </div>
        <div class="col-sm-2">
          <select class="form-control" v-model="statesFilter">
              <option  value="">All States</option>
              <option v-for="state in states" :key="state">{{ state }}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" v-model="gradesFilter">
            <option value="">All Grades</option>
            <option v-for="grade in grades" :key="grade">{{ grade }}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" v-model="statusFilter">
            <option value="">All Statuses</option>
            <option v-for="status in statuses" :key="status">{{ status }}</option>
          </select>
        </div>
      </div>
      <div class="row">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Publication Title</th>
            <th>State & Grade</th>
            <th>Sku</th>
            <th>Year</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
          <tr v-for="(publication, index) in filteredPublications" :key="index">
            <td><a data-toggle="modal" href="#editModal">{{ publication.title }}</a></td>
            <td>{{ publication.state_grade }}</td>
            <td>{{ publication.sku }}</td>
            <td>{{ publication.school_year.substr(0, 4) }}</td>
            <td>{{ publication.status }}</td>
            <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" data-toggle="modal" href="#editModal">Edit</a>
                <a class="dropdown-item" href="#" @click="showSweetAlert">Delete</a>
              </div>
            </div></td>
          </tr>
      </table>
      </div>

    <div class="modal fade"
     id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Publication</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    </div>
</template>
<script>
import axios from 'axios';
import swal from 'sweetalert';

import { eventBus } from '../main';

export default{
  name: 'PublicationList',
  data() {
    return {
      searchTerm: '',
      statesFilter: '',
      gradesFilter: '',
      statusFilter: '',
      publicationList: [],
      states: ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI',
        'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT',
        'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
        'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'National'],
      grades: ['K', 1, 2, 3, 4, 5, 6],
      statuses: ['outline', 'draft'],
    };
  },
  computed: {
    filteredPublications() {
      return this.publicationList.filter(element => element.title.match(this.searchTerm)
      && element.status.match(this.statusFilter) && element.state_grade.match(this.statesFilter)
      && element.state_grade.match(this.gradesFilter));
    },
  },
  beforeMount() {
    this.loading = true;
    axios.get('/api', {
    })
      .then((res) => {
        this.publicationList = this.publicationList.concat(res.data);
        this.loading = false;
      })
      // eslint-disable-next-line
      .catch(error => {console.log(error)});
  },
  created() {
    eventBus.$on('newPublication', (publication) => { this.publicationList.push(publication); });
  },
  methods: {
    showSweetAlert() {
      swal({
        title: 'Are you sure?',
        text: 'Deleted publications are not recoverable',
        dangerMode: true,
        buttons: ['Keep Publication', 'Delete Publication'],
        icon: 'warning',
      });
    },
  },
};
</script>
<style>
</style>
